/* @config "../../tailwind.config.ts"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*
=> The base layer is for things like reset rules or default styles applied to plain HTML elements.
=> The components layer is for class-based styles that you want to be able to override with utilities.
=> The utilities layer is for small, single-purpose classes that should always take precedence
over any other styles.

*/
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* @layer base {
  pre,
  code {
    color: inherit !important;
  }
}
@layer components {
  .btn-primary {
    @apply rounded-full bg-violet-500 px-5 py-2 font-semibold text-white shadow-md hover:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-400 focus:ring-opacity-75;
  }
} */
